section.about_us__container#about_us
    h3.about_us__title Pedir pizza nunca había sido tán fácil
    .about_us
        div(class="delivery_info about_us__section")
            div(class="delivery_info__description about_us__section__description") 
                    h3(class="delivery_info__description__title") Domicilios Express
                    p(class="delivery_info__description__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis nulla a officiis, libero quo fugit! Beatae distinctio aperiam et est? Architecto assumenda eos alias voluptatem autem nobis illum modim.
            div(class="delivery_info__img about_us__section__img"): img(src="../assets/delivery.png" , alt="", srcset="")
            
        div(class="availability_info about_us__section") 
            div(class="availability_info__description about_us__section__description")
                h3(class="availability_info__description__title") Disponibilidad 24 horas
                p(class="availability_info__description__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis nulla a officiis, libero quo fugit! Beatae distinctio aperiam et est? Architecto assumenda eos alias voluptatem autem nobis illum modim.
            div(class="availability_info__img about_us__section__img"): img(src="../assets/availability.png" , alt="", srcset="")
            
        div(class="cities_info about_us__section")  
            div(class="cities_info__description about_us__section__description") 
                h3(class="cities_info__description__title") Siempre cerca de ti
                p(class="cities_info__description__text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis nulla a officiis, libero quo fugit! Beatae distinctio aperiam et est? Architecto assumenda eos alias voluptatem autem nobis illum modim.
            div(class="cities_info__img about_us__section__img"): img(src="../assets/cities.png" , alt="", srcset="")  