footer.footer 
    .description 
        a(href="./index.html" class="logo") 
            i.logo--icon(class="fa-solid fa-pizza-slice")
            p.logo--lettering= main_name
        p.description__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, cum impedit ipsa explicabo illo dicta?