-var main_name = "Instant Pizza";
-var navbar_sections = [{name : "Combos",link : "offer-section"},{name : "Sobre nosotros",link : "about_us"},{name : "Contactanos", link : "contact.html"}]
-var day_offer_title = "SOLO POR HOY! 20% de descuento en Combo Colombiano";
-var day_offer_text = `Disfruta de 1 Pizza Criolla tamaño familiar + 1 Paquete Grande de Todo Rico + 4 gaseosas Colombiana 350ml + 4 chocolatinas Jet por solo 45.900$`;
-var other_offers =["tropical","champiñon","mexicano","colombiano", "ranchero", "vietnamita", "ruso", "americano"]