.contact_us{
    width: 100%;
    &__title{
        @include tituloseccion($color-semidark);
    }
    &__social_media{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        width: 100%;
        &--link{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-content: center;
            text-align: center;
            font-size: $md;
            padding: 5rem 0;
            transition: 300ms;
            background-color:$color-main;
            @include a($color-light);
            i{
                font-size: 5rem;
            }
            &:hover{
                background-color:$color-light;
            }
        }
        .contact_us__social_media--whatsapp:hover{
            color: #25D366;
            
        }
        .contact_us__social_media--facebook:hover{
            color: #4267B2;
            
        }
        .contact_us__social_media--instagram:hover{
            color: #E1306C;
            
        }
    }
}