.header{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    font-family: $main-font;
    background-color: $color-main;
    color: $color-light;
    
    .search{
        display: flex;
        align-items: center;
        justify-content:center;
        padding: 0 1rem;
        border-radius: 4rem;
        color: $color-main;
        background-color: $color-light;
        font-size: 1.6rem;
        input{
            margin: 0;
            
        }
    }
    .navbar{
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            li{
                margin: 0 1rem;
                list-style-type: none;
                text-align: center;
                a{
                    font-size: 1.6rem;
                    @include a($color-light);
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.logo{
    display: flex;
    align-items: center;
    @include a($color-light);
    @include logo($color-light);
    i{
        margin: 0 1rem;
    }
}